@{
    ViewBag.Title = "JsTrace Test Index";
}
<h2>jsTrace Testing</h2>

<div id="main">

    <div id="canned" style="float: left; border: 1px solid black; padding: 2em; height: 100px">
        <h3>Test All</h3>
        <button data-bind="click: testAll" id="testBtn">Test All Levels</button>
        <br />
        <br />
        <span>Switch Level:</span>&nbsp;&nbsp;
        <select title="select a Level!" id="levelsOptions" data-bind="options: allLevels, value: selectedLevel"></select>
    </div>
    <div style="float: left; border: 1px solid black; padding: 2em; height: 100px; margin-left: 2em">
        <h3>Custom</h3>
        <input type=" text" placeholder="Module Name" data-bind="value: module" />
        <input type="text" placeholder="Message" data-bind="value: message" />
        <span>Level:</span>&nbsp;&nbsp;
        <select title="select a Level!" data-bind="options: allLevels, value: customLevel"></select>
        <button data-bind="click: customTrace">Trace</button>
        <br />
        <br/>
        <label>NOTE: Switch will default to "log" level</label>
    </div>
    <div style="clear: both"></div>
    <br />
    <br />
    <button data-bind="click: clearAll">Clear Messages</button>
    <table style="width: 100%; text-align: left;">
        <thead>
            <tr>
                <th style="width: 10em">
                    Module
                </th>
                <th style="width: 6em">
                    Level
                </th>
                <th style="width: auto">
                    Message
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: messages">
            <tr>
                <td data-bind="text: module"></td>
                <td data-bind="text: level"></td>
                <td data-bind="text: message"></td>
            </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript">

    var traceMessage = function (mod, lev, msg) {
        return {
            module: mod,
            level: lev,
            message: msg
        };
    };

    var vm = {
        messages: ko.observableArray([]),

        allLevels: [],
        selectedLevel: ko.observable(''),
        testAll: function() {
            var testMod = new TestModule();
            testMod.foo();
        },

        module: ko.observable(''),
        message: ko.observable(''),
        customLevel: ko.observable(''),

        customTrace: function () {
            var mod = vm.module();
            var t = new Trace(mod);

            var message = vm.message();
            var lvl = vm.customLevel();

            t[lvl](message);
        },
        clearAll: function () {
            vm.messages([])
        }
    };

    $(function () {

        Trace.config({
            defaultLevel: Trace.Levels.log
        });

        // set up the levels.
        for (var key in Trace.Levels) {
            if (Trace.Levels.hasOwnProperty(key) === true) {
                vm.allLevels.push(key);
            }
        }

        // setup the callback
        Trace.setCallback(function (module, level) {
            // filter it 
            if (Trace.shouldTrace(module, level) == true) {
                var args = Array.prototype.slice.apply(arguments).slice(2);
                var msg = args.join(' ');

                var traceMsg = new traceMessage(module, level, msg);

                vm.messages.push(traceMsg);
            }
        }, true);

        // init value
        vm.selectedLevel(Trace.traceLevel('TestModule'));

        // set the trace level when the drop-down is changed
        vm.selectedLevel.subscribe(function (newVal) {
            Trace.traceLevel('TestModule', newVal);
        });

        ko.applyBindings(vm);
    });
</script>
